* {
	border: none;
	margin: 0em;
	padding: 0em;
	}

body {
	height: 100%;
	overflow: hidden;
	margin: 0em;
	padding: 0em;
	width: 100%;
	}	

	.sidebar {
		height: 100%;
		min-height: 30em;
		position: absolute;
			top: 0%;
			right: 61%
			bottom: 0%;
			left: 0%;
		width: 39%;
		}
	
	.index {
		height: 28em;
		position: absolute;
			right: 0%;
			bottom: 0%;
			left: 0%;
		width: 100%;
		}
		
		.home {
			background-image: URL("pictures/homeL.png");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: right;
			border: 0%;
			height: 7em;
			position: absolute;
				top: 0%;
				left: 0%;
				right: 0%;
			}
		
		.bio {
			background-image: URL("pictures/bioL.png");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: right;
			border: 0%;
			height: 7em;
			position: absolute;
				top: 7em;
				left: 0%;
				right: 0%;
			}
		
		.port {
			background-image: URL("pictures/portfolioL.png");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: right;
			border: 0em;
			height: 7em;
			position: absolute;
				top: 14em;
				left: 0%;
				right: 0%;
			}
		
		.con {
			background-image: URL("pictures/contactL.png");
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: right;
			height: 7em;
			position: absolute;
				top: 21em;
				left: 0%;
				bottom:0%;
				right: 0%;
			}
			
			.aLink {
				height: 100%;
				width: 100%;
				}
		
		.links {
			height: 3.5em;
			position: absolute;
				top: 0.5em;
				left: 0.5em;
			width: 14em;
			}
			
			.imageLink1 {
				position: absolute;
					top: 0%;
					left: 0em;
					bottom: 0%;
				}
			
			.imageLink2 {
				position: absolute;
					top: 0%;
					left: 3.5em;
					bottom: 0%;
				}
			
			.imageLink3 {
				position: absolute;
					top: 0%;
					left: 7em;
					bottom: 0%;
				}
			
			.imageLink4 {
				position: absolute;
					top: 0%;
					left: 10.5em;
					bottom: 0%;
				}
	
	.main {
		height: 100%;
		min-height: 30em;
		position: absolute;
			top: 0%;
			left: 39%;
			bottom: 0%;
			right: 0%;
		width: 61%;
		}
			
		.mainBox {
			min-height: 24em;
			overflow-y: hidden;
			border-top: none;
			border-right: 0.1em solid lightgrey;
			border-bottom: 0.3em solid #333333;
			border-left: 0.2em solid #666666;
			position: absolute;
				top: 3em;
				left: 2em;
				bottom: 3em;
				right: 2em;
			
			}
	
/* index */
	
		.homePic {
			background-image: URL("pictures/mainImage.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			margin-right: auto;
			margin-left: auto;
			max-width: 100%;
			min-width: 25em;
			min-height: 20em;
			position: absolute;
				top: 1em;
				right: 0%;
				bottom: 0.5em;
				left: 0%;
			}


@media screen and (max-width: 1200px) {
	
body {
	height: 100vh;
	overflow: scroll;
	margin: 0em;
	padding: 0em;
	width: 100%;
	}
	
	.sidebar {
		height: 39vh;
		min-height: 18em;
		position: relative;
			top: 0%;
			right: 0%;
			left: 0%;
		width: auto;
		}
	
		.index {
			height: 100%;
			position: absolute;
				top: 0%;
				right: 0%;
				bottom: 0%;
				left: 39%;
			width: 61%;
			}
	
			.home {
				background-image: URL("pictures/home.png");
				background-position: left;
				height: 25%;
				position: absolute;
					top: 0%;
					left: 0%;
					right: 0%;
				}
			
			.bio {
				background-image: URL("pictures/bio.png");
				background-position: left;
				height: 25%;
				position: absolute;
					top: 25%;
					left: 0%;
					right: 0%;
				}
			
			.port {
				background-image: URL("pictures/portfolio.png");
				background-position: left;
				height: 25%;
				position: absolute;
					top: 50%;
					left: 0%;
					right: 0%;
				}
			
			.con {
				background-image: URL("pictures/contact.png");
				background-position: left;
				height: 25%;
				position: absolute;
					top: 75%;
					left: 0%;
					right: 0%;
				}
			
		.links {
			height: 14em;
			position: absolute;
				top: 0.5em;
				left: 0.5em;
			width: 3.5em;
			}
			
			.imageLink1 {
				position: absolute;
					top: 0em;
					left: 0em;
				}
							
			.imageLink2 {
				position: absolute;
					top: 3.5em;
					left: 0em;
				}
				
			.imageLink3 {
				position: absolute;
					top: 7em;
					left: 0em;
				}
			
			.imageLink4 {
				position: absolute;
					top: 10.5em;
					left: 0em;
				}
	
	.main {
		height: 61vh;
		overflow-y: contain;
		position: relative;
			top: 1em;
			right: 0%;
			bottom: 0%;
			left: 0%;
		width: 100%;
		}
		
		.mainBox {
			height: auto;
			position: absolute;
				top: 3em;
				left: 2em;
				bottom: 3em;
				right: 2em;
			
			}
	}